@import "animate"


$black: #000
$white: #fff
$grey: #CBCBCB
$green: #91BB1A
$plaaceholder: #CCC
$a: #2173af

html
 font-size: 10px

body, p, h1, h2, h3, h4, h5, h6
 margin: 0
 padding: 0

body
 overflow-x: hidden
 font-family: 'Padauk', sans-serif

@keyframes logo
 0%
  transform: translateY(-50px)
 70%
  transform: translateY(-50px)
 80%
  transform: translateY(5px)
 90%
  transform: translateY(-3px)

 100%
  transform: translateY(0px)

@keyframes trembling
 0%
  transform: translate(0px, 0px) rotate(0deg)
 3%
  transform: translate(-1px, 0px) rotate(-3deg)
 5%
  transform: translate(1px, 0px) rotate(7deg)
 8%
  transform: translate(0px, 0px) rotate(0deg)
 100%  
  transform: translate(0px, 0px) rotate(0deg)

.ham 
 cursor: pointer
 tap-highlight-color: transparent
 transition: transform 200ms
 user-select: none
 fill: none
 width: 50px

.activeMenu .hamRotate
 transform: rotate(45deg)

.line 
 fill: none
 transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
 stroke: $white
 stroke-width: 3
 border-radius: 5px
 stroke-linecap: round

.ham .top 
 stroke-dasharray: 40 82
 transform: translateY(7px)

.ham .middle 
 stroke-dasharray: 30 111

.ham .bottom 
 stroke-dasharray: 20 161
 transform: translateY(-7px)

.activeMenu .ham .top 
 stroke-dasharray: 35 82
 stroke-dashoffset: -62px
 transform: translateY(0px)

.activeMenu .ham .middle 
 stroke-dashoffset: 23px
 stroke-dasharray: 40 111

.activeMenu .ham .bottom 
 stroke-dashoffset: -83px
 stroke-dasharray: 40 161
 transform: translateY(0px)

.logo-start
 animation: logo 2s
 img
  display: block !important

.header-owl
 height: 100vh
 .item
  height: calc(100vh - 5rem)
  padding: 0 20px
  margin-top: 5rem

.active-phone
 .ham
  margin-right: -20px

.btn
 background-color: $green
 text-decoration: none
 color: $white
 display: flex
 justify-content: center
 align-items: center
 transition: background-color .2s, color .2s
 &:hover
  background-color: rgba($green, .9)
  color: $grey

.bright
 .window
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  &-pair
   order: 1
  .header-btn
   order: 2
   margin-bottom: 100px
   padding: 1.2rem 5rem
   font-size: 2.4rem
   animation-delay: 1.3s
   width: 25rem
  .inf 
   font-family: 'Advent Pro', sans-serif
   color: $white
   font-size: 3.6rem
   animation-delay: 1s
   margin-top: 10px
  .description
   color: $white
   font-size: 2rem
   animation-delay: 1.2s

.popap-active
 display: block !important

header
 height: 100vh
 position: relative
 background-color: $black
 nav
  display: flex
  height: 100%
  margin-right: 20px
  .popap-block
   position: relative
  .search
   font-size: 1.6rem
   i
    animation-delay: .8s
  .user
   font-size: 1.8rem
   i
    animation-delay: .9s
  .popap-user
   display: none
   position: absolute
   right: -20px
   top: calc(100% + 20px)
   min-height: 300px
   width: 280px
   background-color: $white
   border-radius: 3px
   padding: 26px 12px 16px 12px
   .signin-pair
    &__down
     display: flex
     justify-content: center
     span
      margin: 0 7px
      margin-top: 3px
      width: 1px
      height: 14px
      background-color: #000
     a
      color: $a
      font-size: 1.4rem
      text-decoration: none
      &:hover
       text-decoration: underline
   .signin-form
    display: flex
    flex-direction: column
    input
     margin-bottom: 20px
     padding: 16px 14px 12px
     border-radius: 3px
     border: 1px solid $black
     font-size: 1.6rem
     &::-webkit-input-placeholder
      color: $plaaceholder
      font-size: 1.6rem
    label
     font-size: 1.4rem
    input[type="submit"]
     border: none
     border-radius: 0
     font-size: 1.8rem
     font-weight: normal
     width: 120px
     padding: 9px 0
     margin-left: auto
     margin-right: auto
     margin-bottom: 16px
     cursor: pointer
     &:hover
      color: rgba($white, .7)
   &:before
    content: ''
    display: block
    width: 30px
    height: 30px
    position: absolute
    top: -10px
    right: 22px
    transform: rotate(45deg)
    background-color: $white
    z-index: -1 
  .menu-a
   margin-left: 50px
   color: $white
   font-size: 1.6rem
   height: 100%
   padding: 0 10px
   padding-top: 2px
   display: flex
   justify-content: center
   align-items: center
   text-decoration: none
   transition: color .2s ease-out
   animation-duration: .3s
   &:hover
    color: $grey
 .science
  text-transform: uppercase
  font-family: 'Advent Pro', sans-serif
  font-size: 2.4rem
  color: $white
  position: absolute
  bottom: 20px
  left: 20px
  animation-delay: 1s
  z-index: 100
 .navbar
  height: 5rem
  width: 100vw
  background-color: $black
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 20px
  position: fixed
  z-index: 100
  .logo
   display: flex
   align-items: center
   height: 100%
   width: 39px
   &:hover
    img
     animation: trembling 3s infinite
   img
    height: 80%
    margin-bottom: 5px
    display: none


@media (max-width: 768px)
 body
  header
   nav
    margin-right: 0
   .header-owl
    .bright
     background-position-x: 90% !important
@media (max-width: 596px)
 body
  header
   nav
    .menu-a
     margin-left: 0
   .header-owl
    .bright
     background-position-x: center !important
     background-position-y: calc(100% - 18rem) !important
     background-size: auto calc(100% - 18rem) !important
     display: flex
     align-items: flex-end
     .window
      align-items: center
      justify-content: flex-start
      height: 18rem
      width: 100%
      &-pair
       order: 2
       .description
        display: none
      .header-btn
       padding: 8px 39px
       width: auto
       margin-bottom: 0
       font-size: 2.4rem
       font-weight: bold
       order: 1
       animation-delay: .4s
      .inf
       font-size: 2.4rem 
       animation-delay: 0s